
body{
	background-color: #f2f2f2;
	font-family: 'Poppins', sans-serif;

}
.contenedorprincipal{
	background-color: #fff;
	border-radius: 15px 30px;

}


header .nav{
	
/* margin-bottom: 10px; */
	

}


header .nav{
	min-height: 100px;
	background-color: #fff;
}


.encabezado{
	border-bottom: 2px solid #008B8B;

}
/* margen de slider 
.margen{
	padding: 0;
}*/

/* menu */
.nav-link:hover{
border-radius: 15px 30px;
background-color: rgba(153, 208, 216, 0.60);;
}

/* sudmenu */

.dropdown-menu{
border-radius: 15px 30px;
border: 2px solid #008b8b7d;
border-bottom: 10px solid #008b8b7d !important;
font-size: 12px;
}

.dropdown-item:hover{
background-color: rgba(255, 255, 255, 0);
}
/* slider */
.imagen {



}

.slider{
	margin-top: 20px;
	margin-bottom: 15px;
}

.contenedor-imagen{
	    padding-top: 8px;
	    padding-bottom: 8px;
}
/* indicadores-slider */
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: rgba(153, 208, 216, 0.99);;

}



.carousel-indicators .active {
    background-color: #008B8B;
}


.imagen{

}



/* menusecundario */

.menusecundario{
	background-color: #fff;
	margin-bottom: 15px;
	font-size: 12px;
	background-color: rgba(153, 208, 216, 0.31);;
    padding: 10px;
    border-bottom: 15px;
}


.menusecundario .nav .nav-link{
	color:#000;
}

/* eventos*/
.pleca{
	border-left: 6px solid rgba(14, 148, 166, 0.44);
	padding-left: 6px;
}

.plecatop{
padding-top: 16px;
padding-bottom: 16px;
border-top: 6px solid rgba(14, 148, 166, 0.44);
}

.card{
	background-color: #fff;
	border: 3px solid #f2f2f2;
	margin-right: 3px;
	margin-bottom: 3px;
}




.colcard{
	background-color: #fff;
	border: 3px solid #f2f2f2;
	margin-right: 3px;
	margin-bottom: 3px;

/* border: 1px solid rgba(0, 0, 0, 0.14); margin-right: 7px */

	
}


.card-img-top{
padding-top: 15px;

}


.link{
	background-color: rgba(14, 148, 166, 0.44);
    padding: 1px;
    text-align: center;
    border-radius: 15px 30px;
}
/* footer */

.piedepagina{
	font-size: 10px;
	background-color: #d2d2d2;
    /* margin: auto; */
    padding: 10px;
    border-radius: 15px;
}


.fa-5x{
	padding: 2px;
}


